* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));
}

.chat {
    overflow: hidden;
    max-width: 640px;
    width: 100%;
    border-radius: 15px;
}

.chat-header {
    width: 100%;
    height: 70px;
    background-color: #5a5eb9;
    display: flex;
    justify-content: center;
}

.chat-body {
    width: 100%;
    height: 500px;
    background-image: url("img/chat-background.jpg");
    padding: 20px;
    overflow: auto;
}

.logo-block {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    width: 50px;
}

.logo-text {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 32px;
}

.message-input {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    outline: none;
    text-indent: 20px;
    font-size: 20px;
}

.tweet-row{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.user{
    justify-content: flex-start;
}

.admin{
    justify-content: flex-end;
}


.chat-message{
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
}

.user-message{
    background-color: #f1f1f1;
}

.admin-message{
    background-color: #5a5eb9;
    color: #f1f1f1;
}






